* {
    background-color: black;
}
.main {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 150px;
text-align: center;
background-color: purple;
margin-top: 20px;
display:inline-block;
border: dotted;
color: white;
}


.menu {
    font-family: Verdana, "Times New Roman", sans-serif;
    font-weight: bold;
    color: blueviolet;
    background-color: antiquewhite;
    font-size: 50px;
    margin:auto;
    display: block;
}